.link_to_checkout {
  text-decoration: none;
}

.parent {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 80px;
  border-radius: 3px;
  margin-top: 5px;
}

.parent:hover {
  border: solid 1px #fff;
}

.returns {
  font-size: 12px;
  font-weight: 600;
}

.orders {
  font-size: 14px;
  font-weight: 800;
}

@media only screen and (max-width: 600px) {
  .link_to_checkout {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .link_to_checkout {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .link_to_checkout {
    display: block;
  }
}
