.parent {
  width: 100%;
  background-color: rgb(226, 230, 230);
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 601px) {
  .parent {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1025px) {
  .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.left {
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .left {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .left {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .left {
    width: 70%;
  }
}

.shopping_cart {
  background-color: #fff;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .shopping_cart {
    margin-top: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 601px) {
  .shopping_cart {
    margin-top: 40px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1025px) {
  .shopping_cart {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.titles {
  height: 80px;
  width: 96%;
  border: solid 1px #dddddd;
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-left: 0px;
  border-right: 0px;
}

@media only screen and (max-width: 600px) {
  .titles {
    height: 60px;
    border: 0px;
  }
}

.shopping_cart_text {
  font-size: 27px;
  margin-bottom: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .shopping_cart_text {
    font-size: 20px;
    margin-bottom: 7px;
    margin-left: 5px;
  }
}

.price {
  font-size: 15px;
  color: rgb(87, 89, 89);
}

@media only screen and (max-width: 600px) {
  .price {
    display: none;
  }
}

.contents {
  height: 200px;
  width: 96%;
  display: flex;
  border: solid 1px #dddddd;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-right: none;
}

@media only screen and (max-width: 600px) {
  .contents {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
}

.img {
  height: 170px;
  width: 16%;
  margin-left: 10px;
  /* border: solid 1px; */
}

@media only screen and (max-width: 600px) {
  .img {
    height: 220px;
    width: 60%;
  }
}

@media only screen and (min-width: 601px) {
  .img {
    width: 22%;
  }
}

@media only screen and (min-width: 1025px) {
  .img {
    width: 16%;
  }
}

.middle_contents {
  height: 170px;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  /* border: solid 1px; */
}

@media only screen and (max-width: 600px) {
  .middle_contents {
    width: 78%;
    display: flex;
    justify-content: space-around;
  }
}

@media only screen and (min-width: 601px) {
  .middle_contents {
    width: 57%;
  }
}

@media only screen and (min-width: 1025px) {
  .middle_contents {
    width: 60%;
  }
}

.title {
  font-weight: 600;
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 14px;
  }
}

.action {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .action {
    margin-top: 15px;
  }
}

.delete_cart {
  margin-left: 20px;
  margin-top: 10px;
  color: rgb(2, 113, 133);
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.delete_cart:hover {
  text-decoration: underline;
}

.product_price {
  height: 170px;
  width: 10%;
  text-align: right;
  font-weight: 600;
  /* border: solid 1px; */
}

@media only screen and (min-width: 601px) {
  .product_price_smallscreen {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .product_price_smallscreen {
    display: block;
    height: 30px;
    width: 100%;
    margin-top: 15px;
    font-weight: 600;
    bottom: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .product_price {
    display: none;
  }
}

.sub_total {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  margin-right: 40px;
  font-size: 18px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .sub_total {
    font-size: 16px;
  }
}

.divider {
  height: 70px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #fff;
}

.p {
  font-size: 10px;
  font-weight: 600;
  height: 200px;
}

@media only screen and (max-width: 600px) {
  .divider {
    display: none;
  }
  .p {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  .divider {
    display: none;
  }
  .p {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .divider {
    display: block;
  }
  .p {
    display: block;
  }
}

.right {
  width: 20%;
}

@media only screen and (max-width: 600px) {
  .right {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) {
  .right {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .right {
    width: 20%;
  }
}

.checkout {
  height: 160px;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .checkout {
    font-size: 16px;
  }
}

.checkout_btn {
  height: 30px;
  width: 280px;
  background-color: rgb(255, 216, 21);
  margin-top: 20px;
  border: solid 1px rgb(255, 216, 21);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 20px;
}
