.parent {
  width: 100%;
  /* border: solid 1px; */
  background-color: rgb(226, 230, 230);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column; */
}

.left {
  width: 70%;
}

.shopping_cart {
  background-color: #fff;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.titles {
  height: 80px;
  width: 96%;
  /* border: solid 1px #dddddd; */
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.shopping_cart_text {
  font-size: 27px;
  margin-bottom: 18px;
  font-weight: 500;
}

.price {
  font-size: 15px;
  color: rgb(87, 89, 89);
}

.contents {
  height: 200px;
  width: 96%;
  display: flex;
  border: solid 1px #dddddd;
  justify-content: space-between;
  align-items: center;
  border-left: none;
  border-right: none;
  /* border: solid 1px; */
}

.img {
  height: 170px;
  width: 16%;
  margin-left: 10px;
  /* border: solid 1px; */
}

.middle_contents {
  height: 170px;
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-family: "poppins", sans-serif;
  font-size: 16px;
}

.action {
  display: flex;
}

.delete_cart {
  margin-left: 20px;
  margin-top: 10px;
  color: rgb(2, 113, 133);
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
}

.delete_cart:hover {
  text-decoration: underline;
}

.product_price {
  height: 170px;
  width: 10%;
  text-align: right;
  font-weight: 600;
  /* border: solid 1px; */
}

.sub_total {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  margin-right: 40px;
  font-size: 18px;
  font-weight: 600;
}

.divider {
  height: 70px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: #fff;
}

.p {
  font-size: 10px;
  font-weight: 600;
  height: 200px;
}

.right {
  width: 20%;
}

.checkout {
  height: 160px;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout_subtotal {
  margin-top: 30px;
  font-size: 18px;
}

.checkout_btn {
  height: 30px;
  width: 280px;
  background-color: rgb(255, 216, 21);
  margin-top: 20px;
  border: solid 1px rgb(255, 216, 21);
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}
