.parent {
  display: flex;
  justify-content: center;
  color: white;
  height: 48px;
  width: 80px;
  border-radius: 3px;
  margin-top: 5px;
  border: solid 1px rgb(19, 25, 33);
  background-color: rgb(19, 25, 33);
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  .parent {
    margin-right: 10px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1025px) {
  .parent {
    margin-right: 0px;
    margin-top: 0px;
  }
}

.parent:hover {
  border: solid 1px #fff;
}

.left {
  display: flex;
  flex-direction: column;
}

.shopping_cart {
  font-size: 30px;
}

.number_of_items {
  font-size: 14px;
  font-weight: 800;
  color: rgb(240, 136, 5);
  margin-bottom: -5px;
}

.right {
  display: flex;
  margin-top: 5px;
}

.cart_text {
  font-size: 15px;
  font-weight: 800;
  margin-top: 15px;
}

@media only screen and (max-width: 600px) {
  .parent {
    /* border: solid 1px; */
    width: 35px;
    color: rgb(191, 191, 191);
    margin-right: 20px;
    height: 35px;
    margin-top: 7px;
  }
}

@media only screen and (max-width: 600px) {
  .cart_text {
    display: none;
  }
}
