.allcards {
  height: 445px;
  width: 350px;
  /* border: solid 1px; */
  background-color: #fff;
  margin: 10px;
}

.cards_title {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.cards_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cards_action {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 12px;
  color: rgb(2, 113, 133);
  font-weight: 600;
}

.image {
  > img {
    width: 318px;
    height: 330px;
  }
}
