.allcards {
  height: 445px;
  width: 350px;
  /* border: solid 1px; */
  background-color: #fff;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .allcards {
    width: 175px;
    height: 230px;
    margin: 5px;
  }
}

.cards_title {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .cards_title {
    font-weight: 500;
    font-size: 10px;
    /* margin: 20px; */
  }
}
.cards_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cards_action {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 12px;
  color: rgb(2, 113, 133);
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .cards_action {
    font-weight: 500;
    font-size: 10px;
    margin: 7px;
  }
}

.image {
  > img {
    width: 318px;
    height: 330px;
  }
}

@media only screen and (max-width: 600px) {
  .image {
    > img {
      width: 150px;
      height: 150px;
    }
  }
}
