.space {
  width: 50px;
  height: 40px;
  border: solid 1px;
  background-color: rgb(237, 237, 237);
  margin-top: 10px;
  margin-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  border-right-color: rgb(205, 205, 205);
}

.space:hover {
  border-color: rgb(254, 190, 104);
  border: solid 2.5px rgb(229, 144, 46);
}

.all {
  margin-left: 5px;
  font-size: 13px;
  color: #666666;
}

.arrow_icon {
  font-size: 19px;
  color: #666666;
}

.items {
  font-weight: 600;
}

/* SearchBar styles */
.search_inputs {
  display: flex;
  border: 0;
  margin-top: 11px;
}

.search input {
  background-color: #fff;
  /* border-radius: 2px; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
  width: 870px;
  border: 0;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}

/* .search input:hover {
  border: solid 3px rgb(240, 136, 6);
} */

.search_input:hover {
  border: solid 1px rgb(254, 190, 106);
}

.search_icon {
  height: 40px;
  width: 50px;
  background-color: #fff;
  display: grid;
  place-items: center;
  background-color: rgb(254, 190, 106);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search_icon:hover {
  background-color: rgb(240, 136, 6);
}

input:focus {
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  /* font-family: "poppins", sans-serif; */
}

.search_icon svg {
  font-size: 30px;
  cursor: pointer;
}

.data_result {
  width: 100%;
  height: 350px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-top: solid 1px rgb(187, 187, 187);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data_result::-webkit-scrollbar {
  display: none;
}

.data_result .data_item {
  /* width: 100%; */
  height: 45px;
  display: flex;
  align-items: flex-start;
  color: black;
  font-weight: 700;
  text-decoration: none;
}

.data_item p {
  margin-left: 10px;
}

.data_item:hover {
  background-color: rgb(238, 238, 238);
}

/* Rating */
.product_rating {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18px;
}
