.first_nav {
  background-color: rgb(19, 25, 33);
  height: 60px;
  width: 100%;
  display: flex;
}

.second_nav {
  background-color: rgb(34, 48, 62);
  height: 40px;
  width: 100%;
}

.amazon_logo {
  height: 30px;
  cursor: pointer;
}

.parent_amazon_logo {
  height: 47px;
  width: 120px;
  /* border: solid 1px; */
  margin-left: 18px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent_amazon_logo:hover {
  border: solid 1px white;
  border-radius: 3px;
}
