.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 48px;
  width: 80px;
  border-radius: 3px;
  margin-top: 5px;
}

.parent:hover {
  border: solid 1px #fff;
}

.shopping_cart {
  font-size: 35px;
}

.cart  {
  font-size: 14px;
  font-weight: 800;
  margin-top: 10px;
}
