.parent_con {
  height: 445px;
  width: 350px;
  border: solid 1px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* margin: 10px; */
  margin-top: 70px;
}