.contents {
  height: 170px;
  width: 49%;
  /* border: solid 1px; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.image {
  > img {
    width: 75%;
    height: auto;
    object-fit: contain;
  }
}

.subTitle {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
}
