.products_parent {
  height: 300px;
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  margin-bottom: 40px;
}

.images {
  > img {
    height: 250px;
    width: 160px;
  }
}

.sub_parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 50px;
  margin-left: 28px;
}

.title {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
