/* This is for the first card. GameAccessoriesCard */
.allcards_first_diff_one {
  height: 445px;
  width: 350px;
  /* border: solid 1px; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

.title {
  font-weight: 700;
  font-size: 22px;
  margin: 20px;
}

.gaming_subTitle_props {
  text-decoration: none;
  color: black;
}

.see_more {
  height: 50px;
  width: 100px;
  text-decoration: none;
  margin-left: 20px;
  color: rgb(2, 113, 133);
  font-size: 13px;
  font-weight: 500;
}

/* This is for the other three remaining card. OtherCardsItems*/
.allcards {
  height: 445px;
  width: 350px;
  /* border: solid 1px; */
  background-color: #fff;
  margin: 10px;
}

.cards_title {
  margin-left: 15px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.cards_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.cards_action {
  margin-top: 20px;
  margin-left: 15px;
  font-size: 12px;
  color: rgb(2, 113, 133);
  font-weight: 600;
}

.image {
  > img {
    width: 318px;
    height: 330px;
  }
}


/*And this is for the GameAccessoriesCard and the OtherCardItems Container/Parent. OtherCards*/ 
.parent {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
  height: 460px;  
  /* border:  solid 1px; */
  position: absolute;
  top: 400px;
  left: 100px;
}

.action_link_props {
  text-decoration: none;
  color: rgb(4, 112, 133);
}

