/* This is for the single card. HomeAccessoriesCard */
.allcards_first_diff_one {
  height: 445px;
  width: 350px;
  /* border: solid 1px; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .allcards_first_diff_one {
    width: 175px;
    height: 230px;
    margin: 5px;
  }
}

.title {
  font-weight: 700;
  font-size: 22px;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-weight: 500;
    font-size: 10px;
  }
}

.subTitle_link {
  text-decoration: none;
  color: black;
}

.see_more {
  height: 50px;
  width: 100px;
  text-decoration: none;
  margin-left: 20px;
  color: rgb(2, 113, 133);
  font-size: 13px;
  font-weight: 500;
}

.see_more:hover {
  color: rgb(199, 81, 31);
}

@media only screen and (max-width: 600px) {
  .see_more {
    margin-top: 7px;
    font-size: 10px;
  }
}

/*And this is for the HomeAccessoriesCard and the NextDealsInCards Container/Parent*/
.parent {
  display: flex;
  justify-content: center;
  height: 460px;
  margin-top: 70px;
}

@media only screen and (max-width: 600px) {
  .parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 450px;
    height: 500px;
  }
}

@media only screen and (min-width: 601px) {
  .parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 790px;
    height: 500px;
  }
}

@media only screen and (min-width: 1025px) {
  .parent {
    display: flex;
    justify-content: center;
    height: 460px;
    margin-top: 70px;
  }
}

.action_link {
  text-decoration: none;
  color: rgb(2, 113, 133);
}

.action_link:hover {
  color: rgb(199, 81, 31);
}
