/* This is for the single card. HomeAccessoriesCard */
.allcards_first_diff_one {
  height: 445px;
  width: 350px;
  /* border: solid 1px; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

.title {
  font-weight: 700;
  font-size: 22px;
  margin: 20px;
}

.subTitle_link {
  text-decoration: none;
  color: black;
}

.see_more {
  height: 50px;
  width: 100px;
  text-decoration: none;
  margin-left: 20px;
  color: rgb(2, 113, 133);
  font-size: 13px;
  font-weight: 500;
}

.see_more:hover {
  color: rgb(199, 81, 31);
}

/*And this is for the HomeAccessoriesCard and the NextDealsInCards Container/Parent*/
.parent {
  display: flex;
  /* align-items: flex-end; */
  justify-content: center;
  height: 460px;
  /* border:  solid 1px; */
  margin-top: 70px;
}

.action_link {
  text-decoration: none;
  color: rgb(2, 113, 133);
}

.action_link:hover {
  color: rgb(199, 81, 31);
}
