/* This is for the first card. GameAccessoriesCard */
.allcards_first_diff_one {
  height: 445px;
  width: 350px;
  /* border: solid 1px; */
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .allcards_first_diff_one {
    width: 175px;
    height: 230px;
    margin: 5px;
  }
}

.title {
  font-weight: 700;
  font-size: 22px;
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-weight: 500;
    font-size: 10px;
  }
}

.sub_title {
  text-decoration: none;
  color: black;
}
/* 
.image {
  width: 100px;
  height: 250px;
  border: solid 1px;

  > img {
    width: 75%;
    height: auto;
    object-fit: contain;
  }
} */

.see_more {
  height: 50px;
  width: 100px;
  text-decoration: none;
  margin-left: 20px;
  color: rgb(2, 113, 133);
  font-size: 13px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .see_more {
    margin-top: 7px;
    font-size: 10px;
  }
}

.see_more:hover {
  color: rgb(199, 81, 31);
}

/*And this is for the GameAccessoriesCard and the DealsInCards. Container/Parent.*/
.parent {
  display: flex;
  justify-content: center;
  height: 460px;
  position: absolute;
  top: 400px;
  left: 100px;
}

@media only screen and (max-width: 600px) {
  .parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 280px;
    left: 0px;
    height: 500px;
  }
}

@media only screen and (min-width: 601px) {
  .parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 380px;
    left: 0px;
    height: 500px;
  }
}

@media only screen and (min-width: 1025px) {
  .parent {
    display: flex;
    justify-content: center;
    height: 460px;
    position: absolute;
    top: 400px;
    /* left: 100px; */
  }
}

.action_link {
  text-decoration: none;
  color: rgb(4, 112, 133);
}

.action_link:hover {
  color: rgb(199, 81, 31);
  /* text-decoration-line: underline; */
}
