.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* border: solid 1px blue; */
}

.product_content {
  width: 87%;
  height: 250px;
  background-color: #ded5d5;
  border: solid 1px;
}

.a {
  display: flex;
  align-items: center;
  justify-content: center;

}

.product_url {
  width: 20%;
  height: 250px;
  cursor: pointer;
}