body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  box-sizing: border-box;
}

.my-app-nav + div {
  padding-top: 90px !important;
}

.ant-modal-content {
  padding: 0px !important;
}

.ant-modal-header,
.ant-modal-body {
  padding: 10px 15px;
}

/* antd carousel arrows */
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  font-size: inherit;
  top: 200px;
  left: 10px;
  z-index: 2;
  color: white;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  font-size: inherit;
  top: 200px;
  right: 10px;
  z-index: 2;
  color: white;
}

.ant-drawer-body {
  padding: 0 !important;
}
